body {
    background-color: #126FB6;
    color: whitesmoke;
    font-weight: bold;

}


.form-control {
    background-color: transparent;
    color: whitesmoke;

}

.form-select {
    background-color: transparent;
    color: whitesmoke;

}

.form-control:focus {
    background-color: #126FB6;
    color: white;

}

.form-select:focus {
    background-color: #126FB6;
    color: white;

}


.image-preview {
    width: 500px;
    min-height: 100px;
    border: 2px solid, #dddddd;
    margin-top: 15px;

    /* Default text */
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #cccccc;
}

.image-preview__image {
    display: none;
    width: 100%;
}